// Theme color
$color-primary: #25D6A2;
$color-secondary: #21897E;
$color-tertiary: #0E162A;
$color-tertiary-light: #121C34;

$dark-black: #2a2d2d;
$dark-black-light: #4c4c4c;

// Google fonts
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Rubik', sans-serif;

// Font Color
$body-font-color: #646f79;
$heading-font-color: #1f1f1f;
$soft-font-color: #D0D3D9;

// Border Color
$theme-border: .1rem solid #d9d9d9;
$soft-border: .1rem solid rgba(255, 255, 255, .2);

// Padding
$section-padding: 9.5rem 0;
$section-padding-small: 2.5rem 0;

// Background Color
$section-bg: #F9F9F9;


