.contact {
    padding: $section-padding;
    background-image: url(../images/contact/contact-1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0, .7);
        z-index: -1;
    }

    .section__heading {
        color: #fff;
    }
}