html {
  font-size: 62.5%; }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%; } }

html,
body {
  height: 100%; }

a,
a:hover {
  text-decoration: none; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(1.9rem, 0); } }

@-webkit-keyframes heroSlideLaft {
  from {
    -webkit-transform: translateX(-10rem); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes heroSlideLaft {
  from {
    -webkit-transform: translateX(-10rem); }
  to {
    -webkit-transform: translateX(0); } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #646f79; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #1f1f1f; }

span {
  font-family: "Open Sans", sans-serif;
  color: rgba(100, 111, 121, 0.5);
  font-weight: 400;
  font-style: italic;
  font-size: 1.7rem;
  text-transform: capitalize; }

a,
button {
  font-family: "Rubik", sans-serif;
  transition: .3s;
  font-weight: 500; }

button {
  font-size: 1.6rem; }

.heading-primary {
  font-size: 5rem;
  font-weight: 700; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700; }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700; }

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 500; }

.heading-samll {
  font-size: 1.6rem;
  font-weight: 400; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 6.4rem;
  height: 6.4rem; }
  .lds-ellipsis div {
    position: absolute;
    top: 2.7rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background: #25D6A2;
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .lds-ellipsis div:nth-child(1) {
      left: .6rem;
      animation: lds-ellipsis1 0.6s infinite; }
    .lds-ellipsis div:nth-child(2) {
      left: .6rem;
      animation: lds-ellipsis2 0.6s infinite; }
    .lds-ellipsis div:nth-child(3) {
      left: 2.6rem;
      animation: lds-ellipsis2 0.6s infinite; }
    .lds-ellipsis div:nth-child(4) {
      left: 4.5rem;
      animation: lds-ellipsis3 0.6s infinite; }

/* My style */
.preloader-area {
  background-color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.icons__search {
  position: relative; }
  .icons__search i {
    padding: 10px;
    padding-right: 0; }
    .icons__search i.fa-close {
      display: none; }
  .icons__search.icons__search-show i {
    padding: 10px;
    padding-right: 0; }
    .icons__search.icons__search-show i.fa-search {
      display: none; }
    .icons__search.icons__search-show i.fa-close {
      display: block; }
  .icons__search-show .search-form {
    display: block; }

.search-form {
  position: absolute;
  top: 110%;
  right: -10px;
  width: 250px;
  display: none;
  z-index: 9;
  background: #fff;
  padding: .8rem;
  border-radius: 0; }
  .search-form input {
    background: transparent;
    border: 1px solid #25D6A2;
    border-radius: 0;
    height: 40px; }
    .search-form input:focus {
      background: transparent;
      outline: none;
      box-shadow: none;
      border-color: #25D6A2;
      color: #333; }
  .search-form button.button-primary {
    height: 40px;
    padding: 0 1.5rem;
    border-radius: 0;
    border: 1px solid #25D6A2; }
    .search-form button.button-primary:hover {
      background: #21897E;
      border: 1px solid #21897E;
      transform: translate(0); }

.search-form input::placeholder {
  color: #333;
  opacity: .8;
  font-weight: 400; }

.search-form input:-ms-input-placeholder {
  color: #333;
  opacity: .8;
  font-weight: 400; }

.search-form input::-ms-input-placeholder {
  color: #333;
  opacity: .8;
  font-weight: 400; }

button.button-primary {
  border: none;
  background: #25D6A2;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: .3rem;
  transition: .3s; }
  button.button-primary:hover {
    transform: translateY(-0.2rem); }

input.button-primary {
  border: none;
  background: #25D6A2;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: .3rem;
  transition: .3s; }
  input.button-primary:hover {
    transform: translateY(-0.2rem); }

a.theme-link {
  color: #25D6A2;
  font-weight: 500; }
  a.theme-link:hover {
    color: #21897E; }

.hero {
  height: calc(100% - 4.2rem); }
  .hero .carousel,
  .hero .carousel-inner,
  .hero .item,
  .hero .hero__container {
    height: 100%; }
  .hero .carousel-inner .item__image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-size: cover;
    background-position: center; }
    .hero .carousel-inner .item__image:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1; }
  .hero .carousel-inner .item .hero__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
  .hero__caption {
    display: flex;
    height: 100%;
    align-items: center; }
  .hero__caption-text {
    flex-basis: 75%; }
    @media only screen and (max-width: 767px) {
      .hero__caption-text {
        flex-basis: 95%; } }
  .hero__heading {
    color: #fff;
    -webkit-animation: .8s ease-in-out 0s normal none 1 running fadeInDown;
    animation: .8s ease-in-out 0s normal none 1 running fadeInDown;
    text-transform: capitalize; }
    @media only screen and (max-width: 991px) {
      .hero__heading {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 767px) {
      .hero__heading {
        font-size: 2.5rem; } }
  .hero__heading-two {
    font-size: 9rem;
    -webkit-animation: 1.2s ease-in-out 0s normal none 1 running heroSlideLaft;
    animation: 1.2s ease-in-out 0s normal none 1 running heroSlideLaft;
    color: #fff; }
    @media only screen and (max-width: 991px) {
      .hero__heading-two {
        font-size: 6rem; } }
    @media only screen and (max-width: 767px) {
      .hero__heading-two {
        font-size: 4.5rem; } }
  .hero__button {
    margin-top: 2.5rem;
    -webkit-animation: .8s ease-in-out 0s normal none 1 running fadeInUp;
    animation: .8s ease-in-out 0s normal none 1 running fadeInUp; }
  .hero .carousel-indicators {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    bottom: 0;
    display: flex;
    background: RGBA(0, 0, 0, 0.4);
    height: 8.5rem; }
    .hero .carousel-indicators li {
      flex: 1;
      height: auto;
      width: auto;
      border-radius: 0;
      border: none;
      margin: 0;
      text-indent: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.1rem solid rgba(255, 255, 255, 0.2); }
      .hero .carousel-indicators li:last-child {
        border: none; }
      .hero .carousel-indicators li.active {
        background: transparent;
        text-indent: 0;
        position: relative; }
        .hero .carousel-indicators li.active:after {
          position: absolute;
          content: "";
          content: "\f0d7";
          font-family: fontawesome;
          color: rgba(37, 214, 162, 0.9);
          top: -.5rem;
          transform: rotate(180deg);
          line-height: 0;
          font-size: 2.5rem; }

.indicators-list span {
  color: #eee;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: .3rem; }

.indicators-list h3 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: capitalize; }

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

.section__title {
  text-align: center;
  margin-bottom: 6rem;
  padding-bottom: 1.6rem;
  position: relative; }
  .section__title:after {
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 6rem;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    background: #21897E; }
  .section__title:before {
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 3rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #21897E; }
  .section__title .section__heading {
    line-height: .9; }

.service__item {
  border: 0.1rem solid #d9d9d9;
  padding: 4rem 2rem;
  text-align: center;
  border-radius: .3rem;
  z-index: 1;
  position: relative;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 767px) {
    .service__item {
      margin-bottom: 3rem; } }
  .service__item-one {
    background-image: url(../images/hero/hero-1.jpg); }
  .service__item-two {
    background-image: url(../images/hero/hero-3.jpg); }
  .service__item-three {
    background-image: url(../images/hero/hero-3.jpg); }
  .service__item:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
    transition: .8s; }
  .service__item:hover .service__heading {
    color: #fff; }
  .service__item:hover .service__details {
    color: #fff; }
  .service__item:hover .service__link {
    color: #21897E; }
  .service__item:hover::after {
    background-color: rgba(37, 214, 162, 0.7); }

.service__icon i {
  height: 9rem;
  width: 9rem;
  line-height: 9rem;
  background: #25D6A2;
  color: #fff;
  font-size: 3.5rem;
  border-radius: 50%; }

.service__heading {
  margin: 2.5rem 0;
  position: relative;
  padding-bottom: 1.2rem; }
  .service__heading:after {
    position: absolute;
    content: "";
    height: 0.3rem;
    width: 3rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #21897E; }

.about__text {
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about__text button {
    align-self: flex-start;
    margin-top: 2.5rem; }
  @media only screen and (max-width: 767px) {
    .about__text {
      min-height: auto;
      padding-bottom: 5rem; } }

.about__heading {
  text-transform: uppercase;
  letter-spacing: .15rem;
  padding-bottom: 1.5rem;
  position: relative; }
  .about__heading:after {
    position: absolute;
    content: "";
    height: 0.3rem;
    width: 5rem;
    bottom: 0;
    left: 0;
    background: #E3B505; }

.about__details {
  margin-top: 2rem; }

.about__image {
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(../images/about/about-1.jpg);
  position: relative;
  z-index: 1; }
  .about__image:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1; }
  .about__image i {
    font-size: 7.5rem;
    color: #fff;
    opacity: .8;
    cursor: pointer; }

.team__item:hover .team__social {
  opacity: 1;
  top: 0; }

@media only screen and (max-width: 991px) {
  .team__item {
    margin-bottom: 3rem; } }

.team__image {
  position: relative; }
  .team__image img {
    width: 100%; }

.team__social {
  position: absolute;
  bottom: 0;
  top: 15rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .3s; }
  .team__social ul {
    margin: 0;
    padding: 0; }
    .team__social ul li {
      display: inline-block; }
      .team__social ul li a {
        display: inline-block;
        padding: 1rem;
        font-size: 1.8rem;
        color: #fff; }
        .team__social ul li a:hover {
          color: #25D6A2; }

.team__details {
  background: #25D6A2;
  border-top: 0.3rem solid #21897E;
  padding: 1.5rem;
  text-align: center;
  color: #fff; }

.team__name {
  color: #fff; }

.team__post {
  color: #fff;
  font-weight: 500; }

.client__single {
  padding: 1.5rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .client__single:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  .client__single img {
    width: 100%;
    -webkit-filter: grayscale(95%);
    filter: grayscale(95%);
    transition: .3s; }

.contact__form {
  margin-bottom: 1rem; }
  .contact__form input {
    border-radius: 0;
    margin-bottom: 1.5rem;
    height: 4rem; }
    .contact__form input:focus {
      outline: none;
      box-shadow: none; }
  .contact__form input.button-primary {
    padding: 0;
    width: 100%;
    text-transform: uppercase; }
  .contact__form select {
    border-radius: 0;
    margin-bottom: 1.5rem;
    height: 4rem; }
    .contact__form select:focus {
      outline: none;
      box-shadow: none; }

.blog__item {
  border: 0.1rem solid #d9d9d9;
  border-radius: .4rem .4rem 0 0; }

.blog__image img {
  width: 100%; }

.blog__text {
  padding: 2.5rem; }

.blog__date i {
  color: #21897E;
  margin-right: .5rem; }

.blog__heading {
  margin-top: .5rem;
  transition: .3s; }
  .blog__heading:hover {
    color: #21897E; }

.blog__details {
  margin: 1.5rem 0; }

.blog__mata {
  display: flex;
  justify-content: space-between; }

.blog__comments {
  color: #21897E;
  line-height: 2; }

a.to-top {
  text-align: center;
  height: 4rem;
  width: 4rem;
  line-height: 3.6rem;
  background: #21897E;
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  color: #fff;
  font-size: 2.2rem;
  display: none;
  z-index: 99; }
  @media only screen and (max-width: 767px) {
    a.to-top {
      right: 1rem;
      bottom: 1rem; } }

.header-top {
  background: #25D6A2;
  padding: .3rem 0; }
  @media only screen and (max-width: 991px) {
    .header-top {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 767px) {
    .header-top {
      font-size: 1.2rem; } }

.admin {
  position: relative; }
  .admin ul {
    margin: 0;
    padding: 0; }
    .admin ul li {
      display: inline-block;
      list-style: none;
      margin-right: 1rem;
      position: relative; }
      .admin ul li:after {
        position: absolute;
        content: "or";
        color: #21897E;
        top: 46%;
        transform: translateY(-50%); }
      .admin ul li:last-child {
        margin-right: 0; }
        .admin ul li:last-child::after {
          display: none; }
      .admin ul li:first-child a {
        padding-left: 0; }
      .admin ul li a {
        display: inline-block;
        color: #fff;
        padding: .6rem 1rem;
        transition: .3s;
        font-weight: normal; }
        .admin ul li a:hover {
          text-decoration: none;
          color: #0E162A; }

.social {
  text-align: right; }
  .social ul {
    margin: 0;
    padding: 0; }
    .social ul li {
      display: inline-block;
      list-style: none;
      margin-right: 1rem; }
      .social ul li:last-child {
        margin-right: 0; }
      .social ul li a {
        display: inline-block;
        color: #fff;
        padding: .6rem;
        transition: .3s; }
        .social ul li a:hover {
          text-decoration: none;
          color: #0E162A; }
        @media only screen and (max-width: 991px) {
          .social ul li a {
            padding: 1rem .5rem; } }
      @media only screen and (max-width: 991px) {
        .social ul li {
          margin-right: .5rem; } }

.header-area {
  position: absolute;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.2);
  z-index: 9; }
  @media only screen and (max-width: 991px) {
    .header-area {
      background: #fff; } }
  .header-area .logo__img-fixed {
    display: none; }
    @media only screen and (max-width: 991px) {
      .header-area .logo__img-fixed {
        display: block; } }
  @media only screen and (max-width: 991px) {
    .header-area .logo__img-main {
      display: none; } }
  .header-area.header-fixed {
    position: fixed;
    background: #fff;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
    border-bottom: 0.1rem solid #d9d9d9; }
    .header-area.header-fixed .logo__img-main {
      display: none; }
    .header-area.header-fixed .logo__img-fixed {
      display: block; }

.logo {
  height: 8.5rem;
  display: flex;
  align-items: center; }
  .logo a {
    color: #fff; }
    .logo a:hover {
      text-decoration: none; }
    .logo a img {
      height: 4rem; }
    .logo a h1 {
      font-size: 4rem;
      color: #fff;
      text-transform: uppercase; }

.main-menu {
  text-align: right; }
  .main-menu ul {
    margin: 0;
    padding: 0; }
    .main-menu ul li {
      list-style: none;
      display: inline-block;
      margin-right: 4rem; }
      .main-menu ul li.active a {
        color: #25D6A2; }
        .main-menu ul li.active a:after {
          left: 0;
          opacity: 1; }
      .main-menu ul li:last-child {
        margin-right: 0; }
      .main-menu ul li a {
        padding: 3rem 0;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        transition: .5s;
        font-weight: normal; }
        .main-menu ul li a:after {
          position: absolute;
          content: "";
          width: 100%;
          height: .4rem;
          background: #25D6A2;
          bottom: -.1rem;
          left: -2rem;
          transition: .5s;
          opacity: 0; }
        .main-menu ul li a:hover {
          text-decoration: none;
          color: #25D6A2; }
          .main-menu ul li a:hover:after {
            left: 0;
            opacity: 1; }
        .main-menu ul li a:focus {
          text-decoration: none; }
      .main-menu ul li.dropdown {
        position: relative;
        text-align: left; }
        .main-menu ul li.dropdown ul {
          position: absolute;
          width: 16rem;
          background: #fff;
          padding: .5rem 0;
          left: 0;
          top: 100%;
          transition: .3s;
          transform: scaleY(0);
          transform-origin: top; }
          .main-menu ul li.dropdown ul li {
            margin: 0;
            padding: 0;
            display: block; }
            .main-menu ul li.dropdown ul li a {
              color: #1f1f1f;
              padding: 1rem 1.5rem; }
              .main-menu ul li.dropdown ul li a:after {
                display: none; }
              .main-menu ul li.dropdown ul li a:hover {
                color: #25D6A2; }
        .main-menu ul li.dropdown:hover ul {
          transform: scaleY(1); }

.header-fixed .main-menu ul li a {
  color: #333; }

.menu-main {
  display: block; }
  @media only screen and (max-width: 991px) {
    .menu-main {
      display: none; } }

.menu-mobile {
  display: none; }
  @media only screen and (max-width: 991px) {
    .menu-mobile {
      display: block; } }

.mobile-menu {
  background: #25D6A2;
  position: absolute;
  left: 0;
  right: 0;
  top: .2rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: .3s; }
  .mobile-menu.show {
    transform: scaleY(1); }
  .mobile-menu ul {
    margin: 0;
    padding: 0; }
    .mobile-menu ul li {
      list-style: none; }
      .mobile-menu ul li.dropdown {
        position: relative; }
        .mobile-menu ul li.dropdown:after {
          position: absolute;
          content: "\f0da";
          font-family: fontawesome;
          top: .6rem;
          right: 2rem;
          font-size: 1.8rem;
          color: #fff; }
        .mobile-menu ul li.dropdown ul {
          display: none; }
        .mobile-menu ul li.dropdown.dropdown-show:after {
          content: "\f0d7"; }
        .mobile-menu ul li.dropdown.dropdown-show ul {
          display: block; }
      .mobile-menu ul li a {
        padding: .8rem 2.5rem;
        display: block;
        color: #fff; }
        .mobile-menu ul li a:hover {
          text-decoration: none;
          background: #21897E; }
        .mobile-menu ul li a:focus {
          text-decoration: none; }

.icons {
  display: flex; }
  .icons__search {
    flex: 1;
    height: 8.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #25D6A2;
    padding: 1rem; }
    .icons__search:hover {
      cursor: pointer; }
  .icons__menu {
    flex: 1;
    height: 8.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #25D6A2;
    visibility: hidden;
    font-size: 2rem; }
    .icons__menu:hover {
      cursor: pointer; }
    @media only screen and (max-width: 991px) {
      .icons__menu {
        visibility: visible;
        padding: 1rem; } }

.service {
  padding: 9.5rem 0; }

.blog {
  padding: 9.5rem 0; }

.about {
  padding: 9.5rem 0;
  background: #F9F9F9; }

.team {
  padding: 9.5rem 0; }

.contact {
  padding: 9.5rem 0;
  background-image: url(../images/contact/contact-1.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative; }
  .contact:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1; }
  .contact .section__heading {
    color: #fff; }

.client {
  padding: 2.5rem 0;
  background: #F9F9F9; }

.footer {
  color: #D0D3D9; }
  .footer__top {
    padding: 9.5rem 0;
    background-image: url(../images/hero/hero-3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-bottom: 7.5rem; }
    .footer__top:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      z-index: -1; }
  .footer__item {
    padding: 0 1rem; }
    @media only screen and (max-width: 991px) {
      .footer__item {
        padding: 0;
        margin-bottom: 3.5rem; } }
    .footer__item-details {
      padding: 0; }
    .footer__item-links {
      padding-left: 5rem; }
      @media only screen and (max-width: 991px) {
        .footer__item-links {
          padding-left: 0; } }
    .footer__item ul {
      margin: 0;
      padding: 0; }
      .footer__item ul li {
        list-style: none;
        margin-bottom: .5rem; }
        .footer__item ul li a {
          color: #D0D3D9;
          transition: .3s; }
          .footer__item ul li a:hover {
            text-decoration: none;
            color: #fff; }
  .footer__logo {
    height: 4rem;
    margin-bottom: 2.5rem; }
  .footer__address-title {
    color: #fff;
    margin-bottom: .5rem; }
  .footer__address a {
    color: #D0D3D9;
    font-weight: normal; }
  .footer__heading {
    color: #fff;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    position: relative; }
    .footer__heading:after {
      position: absolute;
      content: "";
      height: 0.3rem;
      width: 5rem;
      bottom: 0;
      left: 0;
      background: #25D6A2; }
  .footer__posts-item {
    margin-bottom: 2rem; }
    .footer__posts-item a {
      margin-bottom: 1rem;
      display: inline-block; }
      .footer__posts-item a:hover {
        text-decoration: none; }
      .footer__posts-item a h3 {
        color: #D0D3D9; }
    .footer__posts-item i {
      color: #25D6A2;
      margin-right: .5rem; }
    .footer__posts-item:last-child {
      margin-bottom: 0; }
  .footer__subscribe input.form-control {
    background: transparent;
    border-radius: 0;
    border: 0.1rem solid #d9d9d9;
    box-shadow: none;
    color: #fff;
    padding: 2rem 1.5rem;
    margin-top: 1.5rem; }
  .footer__subscribe input.subscribe-submit {
    width: 100%;
    border-radius: 0;
    margin-top: 1rem; }
  .footer__bottom {
    padding: 1.8rem;
    text-align: center;
    color: #fff;
    background: #25D6A2; }
    .footer__bottom p {
      margin: 0; }
